.apply-section.text-center.paddingx-content.py-24.text-white
  .centered-row
    .column
      %h2 Apply now
      %br
      %p
        %strong
          We start a new course every eight weeks and continuously review and accept applicants. The application process can take up to two weeks, so please apply in time!
  .button-row
    %br
    %p
      %a.static_page_button{href: "https://craftacademy.typeform.com/to/hkkxKQ"} Apply Now
