%footer.font-sans.bg-orange-ca.text-white.py-8.px-4.pin-b
	.mx-auto.container.overflow-hidden.flex.flex-col.lg:flex-row.justify-between
		= link_to image_tag('graphic_only_logo_white.png', alt: 'CA logo', class: 'w-32'), root_path, class: 'block mr-4 w-1/2'
		.flex.text-sm.mt-6.lg:mt-0{class: "w-1/2"}
			%ul.text-grey-dark.list-reset.font-thin.flex.flex-col.text-left
				%li.ca-footer-header Product
				%li
					%a.ca-footer-link{href: "#"} Popular
				%li
					%a.ca-footer-link{href: "#"} Trending
			%ul.text-grey-dark.list-reset.font-thin.flex.flex-col.text-left
				%li.ca-footer-header Company
				%li
					%a.ca-footer-link{href: "#"} Mission
				%li
				%a.ca-footer-link{href: "#"} Strategy
			%ul.text-grey-dark.list-reset.font-thin.flex.flex-col.text-left
				%li.ca-footer-header Info
				%li
					%a.ca-footer-link{href: "#"} Support
				%li
					%a.ca-footer-link{href: "#"} Developers
			.text-grey-dark.flex.flex-col
				.ca-footer-header Follow Us
				.flex.pl-4.justify-start
					%a.ca-footer-icon-link{href: "#"}
						%i.fab.fa-github-alt
					%a.block.flex.items-center.text-white.hover:text-grey-lightest.mr-6.no-underline{href: "#"}
						%i.fab.fa-slack
					%a.block.flex.items-center.text-white.hover:text-grey-lightest.no-underline{href: "#"}
						%i.fab.fa-twitter
	.ca-footer-copyright ©2018 Craft Academy. All rights reserved.