= form_with url: search_members_path, method: :post, local: true do |form|
    = form.text_field :search, placeholder: 'Search for members'
    = form.submit "Search", class: 'ca-button', remote: true