.intro
  .text-center
    %h4.leader Are you ready to challenge yourself?
    %h1
      Tech as a craft
      %br>
      in twelve weeks
    %p
      %strong
        With Craft Academy, you'll learn tech and web development in an exciting, fast-paced environment and get help to find your first job in the IT industry or build your own project.
    %small
      %strong
        Upcoming courses:
    %h4.leader
      Full Stack Web Developer Bootcamp
      \-
      21 Jan 2019
    %h4.leader
      Full Stack Web Developer Bootcamp
      \-
      1 Apr 2019
    %h4.leader
      Cyber Security Specialist Bootcamp
      \-
      4 Feb 2019